name: Uffizzi Manual Deploy

on:
  # هذا يسمح لنا بتشغيل سير العمل يدويًا من واجهة GitHub
  workflow_dispatch:

jobs:
  create-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        # هنا نقوم بسحب الكود من الفرع الرئيسي مباشرة
        uses: actions/checkout@v4
        with:
          ref: main # تأكد من أن اسم الفرع الرئيسي هو main

      - name: Create Uffizzi Preview
        uses: UffizziCloud/preview-action@v2
        env:
          UFFIZZI_USER: ${{ secrets.UFFIZZI_USER }}
          UFFIZZI_PASSWORD: ${{ secrets.UFFIZZI_PASSWORD }}
          UFFIZZI_SERVER: ${{ secrets.UFFIZZI_SERVER }}
        with:
          project: 'muntazer900-qlhi'
          compose-file: 'docker-compose.yml'
