name: Uffizzi Preview Environment

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  create-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Uffizzi Preview
        uses: UffizziCloud/preview-action@v2
        with:
          # اسم المستخدم الخاص بك في Uffizzi
          username: ${{ secrets.UFFIZZI_USER }}
          # كلمة المرور الخاصة بك (من الأسرار)
          password: ${{ secrets.UFFIZZI_PASSWORD }}
          # الخادم الخاص بـ Uffizzi
          server: ${{ secrets.UFFIZZI_SERVER }}
          # اسم المشروع (الـ slug) الذي أنشأته
          project: 'muntazer900-qlhi'
          # مسار ملف docker-compose.yml
          compose-file: 'docker-compose.yml'
