name: Uffizzi Preview Environment

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  create-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Uffizzi Preview
        uses: UffizziCloud/preview-action@v2
        env:
          UFFIZZI_USER: ${{ secrets.UFFIZZI_USER }}
          UFFIZZI_PASSWORD: ${{ secrets.UFFIZZI_PASSWORD }}
          UFFIZZI_SERVER: ${{ secrets.UFFIZZI_SERVER }}
        with:
          project: 'muntazer900-qlhi'
          compose-file: 'docker-compose.yml'
